@import '../../../../defaults';

.notes-tab {
    .highlight {
        display: flex;
        flex-direction: column;
        margin: $gutter;
        border-width: 1px 1px 2px 1px;
        border-color: $darker-secondary-color;
        border-style: solid;
        border-radius: 5px;
        padding: 5px;

        &-text {
            font-style: italic;
            border-bottom: 1px solid $darker-secondary-color;
            background-color: $highlight-color;
            padding: 3px;
        }

        &-edit-buttons {
            display: flex;
            flex-direction: row;

            button {
                flex-grow: 1;
            }
        }
    }
}