@import '../../../defaults';

.sidebar {
    height: 99%;
    width: 300px;
    background-color: $bg-primary-color;
    border-left: 1px solid $secondary-color;

    &-wrapper {
        display: flex;
        flex-direction: row;
        position: relative;
    }

    &-tabs {
        display: flex;
        height: 25px;
        border-color: $darker-secondary-color;
        border-style: solid;
        border-width: 0 0 1px;
        width: 100%;

        &-item { //the tabs
            flex-grow: 1;
            outline: none;
            border: none;
            background-color: $bg-primary-color;
            
            font-family: $default-family;
            font-size: 12px;

            &:disabled {
                cursor: default;
                background-color: $secondary-color;
                color: $primary-color;
            }

            &:enabled:hover {
                color: $secondary-color;
            }
        }
    }

    &-tab {
        font-family: $default-family;
        font-size: $small-size;
    }

    &-close {
        width: 30px;
        font-size: $smaller-size;
        background-color: $bg-primary-color;
        color: red;
        border-color: $secondary-color;
        border-style: solid;
        border-width: 0;

        &:hover {
            background-color: red;
            color: $bg-primary-color;
        }
    }
    &-toggler {
        height: 100%;
        border-left: 1px solid $secondary-color;
        width: 20px;
        z-index: 1;
        cursor: pointer;
        background-color: $bg-primary-color;
        &:hover {
            background-color: $secondary-color;
        }
        &.opened {
            background-color: $bg-primary-color;
            &:hover {
                background-color: $secondary-color;
            }
        }
        i {
            position: relative;
            top: 50%;
            margin: 0 2px;
            color: $primary-color; //color of the arrow
        }
    }
}