@import '../../../defaults';

.sidebar {
    height: calc(100vh -  #{$action-bar-height});
    width: 300px;
    background-color: $white;
    border-left: 1px solid $dark-blue;
    overflow-y: auto;

    &-wrapper {
        display: flex;
        flex-direction: row;
        position: relative;
        z-index: 10;
    }

    &-tabs {
        display: flex;
        height: 25px;
        border-color: $dark-blue;
        border-style: solid;
        border-width: 0 0 1px;

        &-item {
            flex-grow: 1;
            outline: none;
            border: none;
            background-color: $white;
            
            font-family: $default-family;
            font-size: $smaller-size;

            &:disabled {
                cursor: default;
                background-color: $blue;
                color: $white;
            }

            &:enabled:hover {
                color: $blue;
            }
        }
    }

    &-tab {
        font-family: $default-family;
        font-size: $small-size;
    }

    &-toggler {
        &.closed {
            width: 0;
        }

        &.opened {
            height: 100%;
            margin-left: -1px;
            border-left: 1px solid $dark-blue;
            width: $gutter/3;
            background-color: $white;
            cursor: col-resize;

            &:hover {
                background-color: $light-blue;
            }
        }

        &-button {
            width: 17px;
            height: 47px;
            margin-left: -18px;
            padding: 15px 1px;
            background-color: $dark-blue;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translate(0, -50%);
            border-radius: 7px 0 0 7px;
            cursor: pointer;

            &:hover {
                background-color: $blue;
            }

            &.opened {
                margin-left: -13px;
            }

            i {
                position: absolute;
                margin-left: 2px;
                color: $white;
            }
        }


    }
}