@import '../../../defaults';

.sidebar {
    width: 35%;
    height: 100%;
    background-color: $white;
    border-left: 2px solid $dark-blue;
    margin-left: -1px;

    &-tabs {
        display: flex;
        height: 25px;
        border-color: $dark-blue;
        border-style: solid;
        border-width: 0px;
        // border-width: 1px 0;

        &-item {
            flex-grow: 1;
            outline: none;
            border: none;
            // border-right: 1px solid $dark-blue;
            background-color: $white;
            
            font-family: $default-family;
            font-size: $smaller-size;

            &:disabled {
                cursor: default;
                background-color: $blue;
                color: $white;
            }

            &:enabled:hover {
                color: $dark-gray;
                background-color: $light-blue;
            }
        }
    }

    &-tab {
        font-family: $default-family;
        font-size: $small-size;
    }

    &-close {
        font-size: $smaller-size;
        background-color: $white;
        color: $red;
        border-color: $dark-blue;
        border-style: solid;
        border-width: 0;

        &:hover {
            background-color: $red;
            color: $white;
        }
    }
}