@import '../../defaults';
.grid {
    width: 100%;

    &-wrapper {
        width: 100%;
        text-align: center;
    }

    &, &-header-item, &-row-item {
        // border: 1px solid $dark-blue;
        border-collapse: collapse;
        text-align: left;
        padding-left: 5px;

        font-family: $default-family;
        font-size: $default-size;
    }

    &-header-item {
        color: $white;
        background-color: $dark-blue;
        font-weight: bold;
    }

    &-row:nth-child(odd) {
        background-color: $light-gray;
    }

    &-row:hover {
        background-color: $light-blue;
    }

    &-noresults {
        font-weight: bold;
        margin-top: 100px;
        img {
            width: 75px;
            margin-bottom: 10px;
        }
        span {
            display: block;
        }
    }
}