@import '../../../defaults';

.action-bar {
    &-wrapper {
        width: 100%;
        height: $action-bar-height;
        min-width: $app-min-width;
        line-height: $action-bar-height;
        text-align: center;
        background-color: #2b303b;
    }
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 0px;

    .back-btn {
        font-size: 14px;
    }

    span.glyphicon-upload {
        font-size: 1.9em;
    }

    span.glyphicon-cog {
        font-size: 1.9em;
    }

    span.glyphicon-log-out {
        font-size: 1.9em;
        margin-right: 20px;
    }

    span.glyphicon-arrow-left {
        font-size: 1.4em;
    }

    .brand-name {
        margin-left: 25px;
    }
}
