@import '../../../defaults';

.action-bar {
    .form-control {
        border-color: $secondary-color;
    }

    &-wrapper {
        width: 100%;
        height: $action-bar-height;
        min-width: $app-min-width;
        line-height: $action-bar-height;
        text-align: center;
    }

    justify-content: space-between;
    align-items: center;
    margin: 0 0px;

    &-search, &-search-input {
        width: 50%;
        font-family: $default-family;
        font-size: $default-size;
        border: none;
    }

    &-back, &-right-buttons {
        width: 250px;
        padding: 0 10px;
        font-family: $default-family;
        font-size: $default-size;
    }

    span.glyphicon-upload {
        font-size: 1.9em;
    }

    span.glyphicon-cog {
        font-size: 1.9em;
    }

    span.glyphicon-log-out {
        font-size: 1.9em;
        margin-right: 20px;
    }

    a {
        color: #FFF;
        cursor: pointer;
        text-decoration: none;
    }

}

.navbar {
    margin-bottom: 0px;
}