@import '../../../defaults';

.item-grid {
    align-items: center;
    overflow-y: auto;

    &-wrapper {
        width: 100%;
        text-align: center;
        position: relative;
        display: flex;
        flex-direction: column;

        .paginator {
            height: 25px;
            line-height: 25px;
        }
    }

    &-count {
        font-family: $default-family;
        font-size: $default-size;
    }

    &-text {
        text-align: center;
    }

    .grid {
        &-row {
            height: 30px;
            cursor: pointer;

            &-active {
                background-color: $secondary-color !important;
                color: $primary-color;
            }
        }
    }
}