@import '../../defaults';

.annotation {
    width: 200px;
    height: 100px;
    position: absolute;
    background-color: white;
    border: 1px solid $dark-gray;

    &-toolbar {
        display: flex;
        justify-content: space-between;
        background-color: $light-gray;
        padding: 5px;

        &-button {
            border: none;
            background-color: white;
            color: $dark-gray;
            border-radius: 5px;
        }
    }

    &-details {
        display: flex;
        flex-direction: column;
    }

    &-text {
        &-highlight {
            background-color: $dark-gray;
            color: $white;
        }
    }
}