@import '../../defaults';

.annotation {
    width: 200px;
    height: auto;
    position: absolute;
    background-color: white;
    border: 1px solid $dark-gray;

    &-toolbar {
        display: flex;
        justify-content: space-between;
        background-color: $light-gray;
        padding: 5px;

        &-button {
            border: none;
            background-color: white;
            color: $dark-gray;
            border-radius: 5px;
            flex-grow: 1;
            margin: 0 5px;
        }

        .add-button, .save-button {
            color: $white;
            background-color: $blue;
        }
    }

    &-details {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    &-text {
        &-highlight {
            background-color: $dark-gray;
            color: $white;
        }
        &-note {
            word-wrap: break-word;
        }
    }

    &-textarea {
        &:focus {
            outline: 1px solid $blue;
        }
    }
}