.upload {
    &-content {
    	width: 350px;
        margin: 0 auto;
    	margin-top: 2%;
        display: flex;
        flex-direction: column;
        margin-left: 2cm;
    }
    &-label {
    	margin-right: 10px;
    }
    &-metadata-input, &-file-upload {
    	margin-bottom: 10px;
    }
    &-submit {
        width: 100px;
    	// flex: 1;
    	margin-left: auto;
    }
}

.uploadTitle {
  color: #111; font-family: 'Segoe UI', sans-serif; font-size: 50px; font-weight: bold; letter-spacing: -1px; line-height: 1;
  margin-left: 1cm;
  margin-bottom: 1cm;
}