@import '../../../defaults';

.home {
    height: 100%;
    height: calc(100vh - #{$action-bar-height});
    display: flex;
    margin-left: $gutter;
    flex-direction: column;

    &-content {
        display: flex;
        flex-direction: row;
        height: 100%;
        width: 100%;
    }
}