@import '../../../defaults';

$home-min-height: calc(100vh - #{$action-bar-height});

.home {
    min-height: $home-min-height;
    width: 100%;
    display: flex;
    position: absolute;
    flex-direction: column;

    &-content {
        display: flex;
        flex-direction: row;
        min-height: $home-min-height;
        height: auto;
        width: 100%;
    }
}