@import '../../../defaults';

.home {
    height: calc(100vh - #{$action-bar-height} - #{$paginator-height});
    display: flex;
    margin: 0 10px 10px 10px;
    flex-direction: column;

    &-content {
        display: flex;
        flex-direction: row;
        height: 100%;
        width: 100%;
    }
}