.login {
  color: white;
  &-username {

  }

  &-submit {
    color: #fff;
    font-size: 0.875em;
    font-weight: normal;
    padding: 10px 15px;
    text-transform: uppercase;
    background: #9B59B6;
    display: inline-block;
    width: 100%;
    cursor: pointer;
    margin: 1em 0 0 0;
    border: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    border-radius: 0.15em;
    -webkit-border-radius: 0.15em;
    -moz-border-radius: 0.15em;
    -o-border-radius: 0.15em;
    font-family: 'Open Sans', sans-serif;
  }

  .left-half {
    background-color: #252A2F;
    width: 50%;
    position: absolute;
    left: 0px;
    height: 100%;
  }
  .right-half {
    background-color: #252A2F;
    width: 50%;
    position: absolute;
    right: 0px;
    height: 100%;
  }

  .logo {
    float: none;
    width: 38%;
    text-align: center;
  }


  .footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
    background-color: #9B59B6;
  }
}