@import '../../../../defaults';

$summary-tab-spacing: 20px;
.summary-tab {
  display: flex;
  flex-direction: column;
  margin: 0 5px;

  &-table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 1px 2px 1px;
    table-layout: fixed;
  }

  &-row {
    height: 23px;
    line-height: 23px;

    &:nth-child(odd) {
      background-color: $secondary-color;
    }

    input:focus {
      outline: 1px solid $secondary-color;
    }
  }

  &-label {
    padding-left: 3px;
    font-weight: bold;
    &.modified {
      color: $darker-primary-color;
    }
  }

  &-metadata {
    margin-bottom: $summary-tab-spacing;
    &-controls {
      display: flex;
      flex-direction: row;
    }
  }

  &-tags {
    margin-bottom: $summary-tab-spacing;
  }

  &-category {
    text-transform: uppercase;
    font-size: $small-size;
    font-family: $default-family;
    font-weight: bold;
    margin-bottom: 5px;
  }

  &-value {
    .url-data {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &-input {
    width: 100%;
    margin: 0;
  }

  &-input[type="number"]{
    width: 100%;
    margin: 0;
  }
}
