//default colors
$white: #fff;
$light-gray: #eee;
$gray: #ddd;
$dark-gray: #555;
$black: #000;

$red: #fc544b;
$green: #79ff4c;
$yellow: #ffff4c;

//$light-blue: #E1F5FE;
//$blue: #40C4FF;
//$dark-blue: #0277BD;

$app-min-width: 640px;

$default-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
$default-size: 13px;
$small-size: 11px;
$smaller-size: 10px;

$action-bar-height: 60px;


$button-primary-color: #9B59B6;
$button-font-color: #FFF;

$bg-primary-color: #252A2F;
$bg-secondary-color: #FFF;

$primary-color: #FFF;
$secondary-color: #9B59B6;
$light-secondary-color: #FFF2FF;
$dark-secondary-color: #82409D;
$tertiary-color: #252A2F;

$row-alternate-color: #EAEAEA;


//default for styles

button[type='submit'] {
  color: $button-font-color;
  font-size: 1em;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  background: $button-primary-color;
  padding: 13px 40px;
  border: none;
  font-family: $default-family;
  font-weight: 600;
}

input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="time"],
input[type="url"],
input[type="password"],
select
{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  display: block;
  width: 100%;
  padding: 7px;
  border: none;
  border-bottom: 1px solid #ddd;
  background: transparent;
  margin-bottom: 10px;
  font: 16px $default-family;
  height: 45px;
}