//default colors
$white: #fff;
$light-gray: #eee;
$gray: #ddd;
$dark-gray: #555;
$black: #000;

$red: #fc544b;
$green: #79ff4c;
$yellow: #ffff4c;

$light-blue: #E1F5FE;
$blue: #40C4FF;
$dark-blue: #0277BD;

$app-min-width: 640px;

$default-family: Verdana, sans-serif;
$default-size: 13px;
$small-size: 11px;
$smaller-size: 10px;

$action-bar-height: 60px;
