@import 'defaults';

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: $app-min-width;
}

button {
    cursor: pointer;
}

.notification {
    font-family: Verdana, sans-serif;
    font-size: 12px;
    &-dismiss {
        border-radius: 0 !important;
    }
}