@import '../../../defaults';

.settings {
  font-family: $default-family;
  color: $default-font-color;

  &-title {
    color: $default-font-color;
    font-size: 3em;
    font-weight: bold;
    padding-bottom: 10px;
    font-family: $default-family;
    padding-left: 10%;
    margin-top: 10px;
  }

  .left-half {
    background-color: $bg-primary-color;
    width: 30%;
    position: absolute;
    left: 0px;
    height: 100%;
  }
  .right-half {
    background-color: $bg-primary-color;
    width: 70%;
    position: absolute;
    right: 0px;
    height: 100%;
  }

  .container {
    border-radius: 25px;
    background: $secondary-color;
    margin-bottom: 25px;
    width: 95%;
  }

  .type-label {
    float: right;
  }

  .type-label-padding {
    margin-right: 5px;
  }

  &-logo {
    text-align: center;
    padding-top: 10%;
  }

  &-version {
    margin-top: 16px;
    font-size: 16px;
    color: $darker-secondary-color;
    font-weight: 500;
  }

  &-label {
    padding-top: 30px;
    padding-bottom: 12px;
    font-size: 19px;
    font-family: $default-family;
    color: $default-font-color;
  }

  .text-input {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 2px solid #FFf;
    background: transparent;
    margin-bottom: 10px;
    font: 16px $default-family;
    height: 45px;
  }

  .text-input-category {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 61%;
    padding: 7px;
    border: none;
    border-bottom: 2px solid #FFf;
    background: transparent;
    margin-bottom: 10px;
    font: 16px $default-family;
    height: 45px;
    margin-left: 39%;
  }

  .text-input-field-name {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 78%;
    padding: 7px;
    border: none;
    border-bottom: 2px solid #FFf;
    background: transparent;
    margin-bottom: 10px;
    font: 16px $default-family;
    height: 45px;
    margin-left: 39%;
  }

  .text-input-password {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 50%;
    padding: 7px;
    border: none;
    border-bottom: 2px solid #FFf;
    background: transparent;
    margin-bottom: 10px;
    font: 16px $default-family;
    height: 45px;
    margin-left: 5%;
  }

  &-left-margin {
    margin-left: 5%;
  }

  .meta-label {
    font-size: 17px;
    font-weight: 500;
    font-family: $default-family;
    color: $default-font-color;
  }

  .meta-data-container {
    margin-left: 10%;
  }

  textarea {
    width: 100%;
  }

  h4 {
    padding-left: 22px;
    padding-bottom: 12px;
  }
}
