@import '../../defaults';

.paginator {

    span {
        padding: 0 5px;
        font-family: $default-family;
        font-size: $default-size;
    }

    button {
        margin: 0px;
        border: none;
        outline: none;
        background-color : transparent;

        &:hover:enabled {
            color: $secondary-color;
        }
    }

    &-disabled {
        color: $secondary-color;
        cursor: not-allowed;

        &:hover {
            color: $secondary-color;
        }
    }
}